.cards-catalog {
  display: flex;
  justify-content: space-between;
}

.filter-card-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-card-img {
  height: 500px;
  border-radius: 9px;
  box-shadow: 4px -4px 16px 0px rgba(228, 224, 224, 0.75);
}

.filter-title {
  color: #dfe2e4;
  font-size: 36px;
  margin-bottom: 20px;
  margin-right: 100px;
  width: 100%;
  justify-self: end;
  justify-content: center;
  display: flex;
  font-weight: bold;
}

.filter-inputs-box {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5em;
}

.select {
  border-radius: 5px;
  color: white;
  width: 150px;
  border: solid white;
  background-color: #1a1a1a;
}

.select-genres {
  border-radius: 5px;
  color: white;
  width: 200px;
  border: solid white;
  background-color: #1a1a1a;
}


.filter-inputs-box select {
  outline: none;
  border-radius: 5px;
  padding: 7px;
  color: white;
  margin: 3px;
  border: none;
  background-color: #1a1a1a;
}

.filter-inputs-box select:hover {
  cursor: pointer;

}

.box {
  display: flex;
  flex-direction: column;
}