.paginated-box {
  color: red;
  min-height: 40px;
}

.paginated-box nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.paginated-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2em;
  transition: 1.8s;
  width: 500px;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.paginated-ul li {
  align-items: center;
  transition-timing-function: ease-in;
}

.paginated-ul li :hover {
  cursor: pointer;
  color: black;
  transition: 0.5s;
  background: #f4f7f9;
  background: #898e96;
}

.anchor-paginated {
  border: solid;
  color: #898e96;
  border-radius: 5px;
}