.cards-main-container {
  height: 100vh;
  width: 100vw;
  background: black;
  background-image: url("../../../public/ai-videogames-pic/photo13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  justify-content: end;
  text-align: center;

}
.cargando{
  color: white;
  border: solid;
}
.cards-container {
  width: 100%;
  width: 800px;
  height: 600px;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;

}
.form-group{
  display: flex;
  flex-direction: column;
}
.loading{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card2{
  margin-top: 60px;
  border: solid;
}
.img-skeleton{
  color: aliceblue;

  border-radius: 7px;
  height: 250px;
  width: 250px;
  box-shadow: -1px 0px 20px -1px rgba(0,0,0,0.75);
  box-shadow: 6px 2px 15px 5px rgba(1, 57, 57, 1.7);

}
.text-skeleton{
  border: none;
}