header {
  display: flex;
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  color: white;
  padding: 5px;
  margin-bottom: 15px;
}

nav {
  color: white;
  display: flex;
  width: 400px;
  justify-content: end;
}

.navs-link {
  transition: 0.4s ease-in-out;
}

.navs-link:hover {
  cursor: pointer;
  transition: 0.5s;
  background: #f4f7f9;
  background: #4d4d4f;
}

li {
  color: white;
  display: flex;
  gap: 3em;
  margin: 10px;
}

a {
  font-size: 14px;
  color: white;
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
}

.logo-box {
  width: 100%;
}


/*///////////////
  */
.cart-icon {
  width: 10px;
  height: 1px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  font-size: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
  padding-right: 50px;
}

.logo {
  color: white;
  border: solid;
  border-radius: 19px;
  padding: 4px;
  transition: 0.3s;
}

.logo:hover {
  color: rgb(106, 24, 24);
  background: #4d4d4f;
  background: inherit;
}
